<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" ></script>
    <script src="{% static 'js/app.js' %}"></script>
    <title>Calendar Diary</title>
</head>
<body>
    <div id='calendar'></div>
    <div id="popup-screen" class="back-screen">
        <div class="popup">
            <div class="popup-header">
                <div class="to-edit">
                    <input id="id-check-to-edit" name="check-to-edit" type="checkbox" />
                    <label for="id-check-to-edit">編集</label>
                    <span class="to-delete">
                        <input id="id-check-to-delete" name="check-to-delete" type="checkbox" />
                        <label for="id-check-to-delete">削除</label>
                        <button id="button-delete">削除</button>
                    </span>
                </div>
                <div>
                    <button id="close-popup">×</button>
                </div>
            </div>
            <div class="popup-body">
                <form id="id_post_event_form" action="POST" class="post_event_form" action="">
                    {% csrf_token %}
                    {% include 'event_form_inputs.html' %}
                    <p>
                        <button id="event-submit">送信</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>